@model HESCO.Models.Complaint.FaultyMeterModel

@{
    ViewData["Title"] = "ViewFaultyMeterDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string fRefNo = ViewData["FRefNo"]?.ToString() ?? "";
    string fmsn = ViewData["FMSN"]?.ToString() ?? "";
    string fat = ViewData["FAT"]?.ToString() ?? "";
    string fsdn = ViewData["FSDN"]?.ToString() ?? "";
    string fissueDescription = ViewData["IssueDescription"]?.ToString() ?? "";
    string fStatus = ViewData["Status"]?.ToString() ?? "";
    string fReportedBy = ViewData["FRB"]?.ToString() ?? "";
    string fdataReset = ViewData["DR"]?.ToString() ?? "";
    int fpage = int.Parse(ViewData["page"]?.ToString() ?? "1");
    int fpageSize = int.Parse(ViewData["pageSize"]?.ToString() ?? "1");
    string fcustomerId = ViewData["CustomerId"]?.ToString() ?? "";

}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-12 col-sm-12 mb-xl-0 mb-4">
            <div class="card">
                <div class="card-body p-3">
                    @if (Model == null)
                    {
                        <h1 style="text-align:center;color:darkred">This MSN is not in faulty meter list</h1>
                        <hr />
                    }
                    else
                    {
                        <h1 style="text-align:center">Faulty Meter Details</h1>
                        <hr />
                        <table class="table table-bordered table-striped">
                            <tbody>
                                <tr>
                                    <th>MSN</th>
                                    <td>@Html.DisplayFor(model => model.MSN)</td>
                                </tr>
                                <tr>
                                    <th>SubDiv</th>
                                    <td>@(string.IsNullOrEmpty(Model.SubDiv) ? "-" : Model.SubDiv)</td>
                                    @*     <td>@Html.DisplayFor(model => model.SubDiv)</td> *@
                                </tr>
                                <tr>
                                    <th>Reported Description</th>
                                    <td style="word-wrap: break-word; white-space: normal;">@Html.DisplayFor(model => model.OpenDescription)</td>
                                </tr>
                                <tr>
                                    <th>Reported Date</th>
                                    <td>@Html.DisplayFor(model => model.OpenedAt)</td>
                                </tr>
                                <tr>
                                    <th>Reported By</th>
                                    <td>@Html.DisplayFor(model => model.OpenedBy)</td>
                                </tr>
                                <tr>
                                    <th>Assigned To</th>
                                    <td>@Html.DisplayFor(model => model.AssignedTo)</td>
                                </tr>
                                <tr>
                                    <th>Status</th>
                                    <td>@Html.DisplayFor(model => model.StatusDisplay)</td>
                                </tr>
                                <tr>
                                    <th>Data Reset</th>
                                    <td>@Html.DisplayFor(model => model.DataResetDisplay)</td>
                                </tr>
                                <tr>
                                    <th>Received</th>
                                    <td>@Html.DisplayFor(model => model.ReceivedDisplay)</td>
                                </tr>
                                <tr>
                                    <th>Received Date</th>
                                    <td>@(Model.ReceivedDate == default(DateTime) ? "-" : Model.ReceivedDate)</td>
                                </tr>
                                <tr>
                                    <th>Field Fault Description</th>
                                    <td style="word-wrap: break-word; white-space: normal;">@Html.DisplayFor(model => model.Fault_Description)</td>
                                </tr>
                                <tr>
                                    <th>Execution Date</th>
                                    <td>@(Model.ExecutedAt == default(DateTime) ? "-" : Model.ExecutedAt)</td>
                                </tr>
                                <tr>
                                    <th>Executed By</th>
                                    <td>@Html.DisplayFor(model => model.ExecutedBy)</td>
                                </tr>
                                <tr>
                                    <th>QC Remarks</th>
                                    <td style="word-wrap: break-word; white-space: normal;">@Html.DisplayFor(model => model.Remarks)</td>
                                </tr>
                                <tr>
                                    <th>Verified Date</th>
                                    <td>@(Model.VerifiedAt == default(DateTime) ? "-" : Model.VerifiedAt)</td>
                                </tr>
                                <tr>
                                    <th>Verified By</th>
                                    <td>@Html.DisplayFor(model => model.VerifiedBy)</td>
                                </tr>
                                <tr>
                                    <th>Dispatched Remarks</th>
                                    <td style="word-wrap: break-word; white-space: normal;">@Html.DisplayFor(model => model.Dispatched_Remarks)</td>
                                </tr>
                                <tr>
                                    <th>Dispatched Date</th>
                                    <td>@(Model.DispatchedAt == default(DateTime) ? "-" : Model.DispatchedAt)</td>
                                </tr>
                                <tr>
                                    <th>Dispatched By</th>
                                    <td>@Html.DisplayFor(model => model.DispatchedBy)</td>
                                </tr>
                                <tr>
                                    <th>Document/Images</th>
                                    <td>
                                        @if (Model.Images != null && Model.Images.Any())
                                        {
                                            <div class="image-gallery">
                                                @foreach (var imagePath in Model.Images)
                                                {
                                                    var extension = System.IO.Path.GetExtension(imagePath).ToLower();
                                                    @* var imageUrl = Url.Content($"~/FaultImages/{System.IO.Path.GetFileName(imagePath)}"); *@
                                                    var imageUrl = Url.Content($"/HESCOPhotos/FaultImages/{System.IO.Path.GetFileName(imagePath)}");
                                                    if (extension == ".pdf")
                                                    {
                                                        // Show a PDF icon with FancyBox for viewing the PDF
                                                        <a href="@imageUrl" data-fancybox="gallery" data-caption="PDF Document">
                                                            <img src="~/images/pdf-icon.png" alt="PDF Icon" style="width: 100px; height: 100px; margin-right: 10px;" />
                                                        </a>
                                                    }
                                                    else if (extension == ".doc" || extension == ".docx")
                                                    {
                                                        // Show a Word icon and link for downloading or opening in a new tab
                                                        <a href="@imageUrl" target="_blank">
                                                            <img src="~/images/word-icon.png" alt="Word Icon" style="width: 100px; height: 100px; margin-right: 10px;" />
                                                        </a>
                                                    }
                                                    else if (extension == ".xls" || extension == ".xlsx")
                                                    {
                                                        // Show an Excel icon and link for downloading or opening in a new tab
                                                        <a href="@imageUrl" target="_blank">
                                                            <img src="~/images/excel-icon.png" alt="Excel Icon" style="width: 100px; height: 100px; margin-right: 10px;" />
                                                        </a>
                                                    }
                                                    else
                                                    {
                                                        // Show the image with FancyBox for viewing
                                                        <a href="@imageUrl" data-fancybox="gallery" data-caption="Fault Image">
                                                            <img src="@imageUrl" alt="Fault Image" style="width: 100px; height: 100px; margin-right: 10px;" />
                                                        </a>
                                                    }
                                                }
                                            </div>
                                        }
                                        else
                                        {
                                            <p>No images available</p>
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    }

                </div>
                <div>
                    <a href="@Url.Action("ViewComplaintDetail", "Complaint", new {
                        ViewBag.Id,
                        fmsn = fmsn,
                        fat = ViewData["FAT"],
                        fissueDescription = ViewData["IssueDescription"],
                        fstatus = ViewData["Status"],
                        fisFaulty = ViewData["IsFaulty"],
                        fcreatedDate = ViewData["CreatedDate"],
                        fcloseDate = ViewData["CloseDate"],
                        fexecuteddateRange = ViewData["ExecutedDateRange"],
                        fpage = 1,
                         fpageSize=ViewData["pageSize"]
                    })" class="btn btn-success">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script>
        $(document).ready(function () {
            if ($.fancybox) {
                $("[data-fancybox]").fancybox({
                    buttons: [
                        "slideShow",
                        "share",
                        "zoom",
                        "fullScreen",
                        "close"
                    ],
                    thumbs: {
                        autoStart: true
                    }
                });
            } else {
                console.error("Fancybox is not loaded.");
            }
        });
    </script>
}